body {
  background-color: #b8b8d1;
  color: white;
}
.navbar {
  background-color: #0d101c;
  color: white;
}
.navbar-brand {
  font-size: x-large;
}
.card {
  background-color: #373d99;
  opacity: 0.8;
  border-radius: 10px;
}
div.card {
  margin: 5px;
  border: 1px solid #ffc145;
  float: left;
  width: 180px;
  height: 200px;
}
#articles {
  margin: 5px;
  border: 1px solid #ffc145;
  float: left;
  width: 100%;
  height: 350px;
}
