{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid" id="sources" >
    <div>
        <h1 class=" text-center font-weight-bold" style="background-color: #0d101c ;">News Sources</h1>
        <h2 class="text-center font-weight-bold headers" style="background-color: #0c115c ;">General News</h2>
        {{ macro.display_new_sources(general) }}
 
        <h2 class="text-center font-weight-bold headers" style="background-color: #0c115c ;"> Business News </h2>
        {{ macro.display_new_sources(business) }}
        <h2 class="text-center font-weight-bold headers" style="background-color: #0c115c;" > Sports news </h2>
        {{ macro.display_new_sources(sports) }}
    </div>
</div>
{% endblock%}